@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<div class="row">
    <div class="container-col-6">
        <div class="container">
            @Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid="3358a2d5-e732-4e69-8040-ea94794c0580", FormTheme="", ExcludeScripts="0"})
        </div>
    </div>
</div>